.globo {
    background-color: #110000;
    aspect-ratio: 1;
    position: absolute;
    height: 34vmax;
    width: 34vmax;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: linear-gradient(
        to right,
        #3a0700,
        #3a0700 20%,
        #3a0700 80%,
        #3a0700
    );
    opacity: 1;
}

.blur {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 2;
    -webkit-backdrop-filter: blur(5vmax);
    backdrop-filter: blur(5vmax);
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.5;
    }

    to {
        rotate: 360deg;
    }
}
