.text-theme {
  color: #212121;
}

.text-secondary {
  color: #de3a27;
}

.text-dark-theme {
  color: #1b1b1b;
}

.text-light-theme {
  color: #4a4a4a;
}

.text-light-white {
  color: #fdfdfd;
}

.bg-light-grey {
  background-color: #ebebeb;
}

.bg-light-gray {
  background-color: #dfdfdf;
}
