@import "swiper/scss";
// @import 'bootstrap/scss/bootstrap';

.swiper-continuous {
    .swiper-wrapper {
        transition-timing-function: linear;
        align-items: center;
    }
}

.swiper-mask {
    mask: linear-gradient(
        90deg,
        transparent,
        white 20%,
        white 80%,
        transparent
    );
    -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 20%,
        white 80%,
        transparent
    );
}
